{% extends "board.html" %}
{% block extrahead %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript">
$(function() {
    var compiled_template = _.template($('#post-entry').html());

    var timestamp = parseInt(new Date().getTime() / 1000);
    window.setInterval(function () {
        $.ajax({
            url: "/message/update/" + timestamp,
            cache: false
        }).done(function(data) {
            _.each(data, function(item) {
                timestamp = item.post_date;
                var t = moment.unix(timestamp);
                item.post_date = t.format("YYYY-MM-DD HH:mm:ss");
                $("#messages").prepend(compiled_template(item));
            });
        });
    }, 30000);
});
</script>
{% endblock %}

{% block container %}
<script type="text/html" id="post-entry">
<div>
    <div>Name: <%= name %></div>
    <div>Post Date: <%= post_date %></div>
    <div>Messages:</div>
    <div>
    <%= message %>
    </div>
</div>
<hr>
</script>
{{ super() }}
{% endblock %}
