{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>Login</title>
</head>
<body>

<div class="container">
  <h2>Post Your Message</h2>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <form id="postform" action="{{ url_for('post_message') }}" method=post>

    {{ form.csrf_token }}

    {{ render_field(form.message) }}

    {{ form.submit }}

  </form>
</div>

</body>
</html>
