<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>

<div class="container">
  <h2>Login</h2>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <form id="loginform" action="{{ url_for('login') }}" method=post>
      <div>Name:<input type=text name=name></div>
      <div>Password:<input type=password name=password></div>
      <div><input type=submit value=Login></div>
  </form>
</div>

</body>
</html>
