<!DOCTYPE html>
<html>
<head>
<title>Transfer</title>
</head>
<body>

<div class="container">
  <h2>Transfer</h2>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

  <h2>POST Transfer</h2>
  <form id="transferform" action="{{ url_for('transfer') }}" method=post>
      <div>Id:<input type=text name=id></div>
      <div>Amount:<input type=text name=amount></div>
      <div><input type=submit value=Transfer></div>
  </form>

  <h2>GET Transfer</h2>
  <form id="transferform" action="{{ url_for('get_transfer') }}" method=get>
      <div>Id:<input type=text name=id></div>
      <div>Amount:<input type=text name=amount></div>
      <div><input type=submit value=Transfer></div>
  </form>

</div>

</body>
</html>
