{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
<title>Validation</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
<script type="text/javascript">
jQuery.validator.setDefaults({
    debug: true,
    success: "valid"
});;
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#userform").validate({
        rules: {
            name: {
                required: true,
                minlength: 2,
                maxlength: 50,
            },
            fullname: {
                required: true,
                minlength: 2,
                maxlength: 50,
            },
            password: {
                required: true,
                minlength: 6,
            },
            confirm: {
                required: true,
                equalTo: "#password",
            }
        },
    });
});
</script>
</head>
<body>

<div class="container">
  <h2>Add User</h2>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <form id="userform" action="{{ url_for('adduser') }}" method=post>
    {{ form.csrf_token }}

    {{ render_field(form.name) }}
    {{ render_field(form.fullname) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}

    {{ form.submit }}
  </form>
</div>

</body>
</html>
