<!DOCTYPE html>
<html>
<head>
<title>Validation</title>
</head>
<body>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="users">
        <ul>
            {% for user in users %}
            <li>{{ user.id }} | {{ user.name }} | {{ user.fullname }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

</body>
</html>
